/* You can add global styles to this file, and also import other style files */

body {
    margin: 0;
    background-color: #e1e5eb;
	font-family: 'Smooch Sans', sans-serif;
	font-size: 20px;
}

h1 {
    margin: 0;
}

h2 {
	margin: 0 0 .5em;
}

/* Holders */

.flex-holder {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Buttons */

button {
	box-shadow: 0px 10px 14px -7px #276873;
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	background-color:#599bb3;
	border-radius:8px;
	cursor: pointer;
	display:inline-block;
	color:#ffffff;
	font-family: 'Smooch Sans', sans-serif;
	font-size:18px;
	padding:13px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}
button:hover {
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	background-color:#408c99;
}
button:active {
	position:relative;
	top:1px;
}
